.navbar-default .navbar-brand {
    text-transform: none;
    font-weight: bold;
    font-size: 1.2em;
    color: #2b2b2b;
}

#profile .portrait-title h3 {
    font-size: 1.0em;
    font-weight: 300;
    color: #3B3B3B;
    margin: 0px 0 10px 0;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: justify;
}

h1 {
    font-size: 1.85rem;
}

h3 {
    font-weight: 700;
    margin-top: 1.5rem;
    font-size: 1.1rem;
}

body {
    font-family: inherit;
    font-size: 0.9rem;
    line-height: inherit;
    color: inherit;
}

ul.ul-interests li {
    font-size: 0.9rem;
}

ul.ul-edu li .description p.course {
    font-size: 0.9rem;
}

.article-title {
    font-size: 1.5rem;
}

.pub-list-item .pub-abstract {
    font-size: 0.9rem;
    text-align: justify;
}

.pub-list-item .pub-authors {
    line-height: normal;
    font-style: normal;
    font-size: 0.9rem;
    color: #3170A5;
}

.pub-list-item .pub-publication {
    color: #090;
    font-size: 0.9rem;
}
